.card-list {
    display: grid;
    grid-template-columns: 160px 160px;
    gap: 1rem;
    width: fit-content;
    margin: auto;
    list-style: none;
}


.card-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}


.card-tile__content {
    margin-bottom: .5rem;
    overflow: hidden;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}


.card-tile__actions {
    display: flex;
    justify-content: space-around;
}


.card-tile__actions a {
    color: inherit;
    text-decoration: none;
}