.deck-grid {
    display: grid;
    grid-template-columns: 160px 160px;
    gap: 1rem;
    width: fit-content;
    margin: auto;
}


.deck-tile {
    min-height: 230px;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: white;
}