.deck-grid {
    display: grid;
    grid-template-columns: 160px 160px;
    gap: 1rem;
    width: fit-content;
    margin: auto;
}


.deck-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 230px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: inherit;
    background-color: white;
    text-decoration: none;
}

.deck-tile__name {
    font-size: 1.1rem;
}

.deck-tile__card-count {
    font-size: .9rem;
}


.deck-tile--create {
    justify-content: center;
    gap: 1rem;
}

.deck-tile__plus {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 50%;

    font-size: 2rem;
}

.deck-tile__create-text {
    font-size: .9rem;
}