.deck-grid {
    display: grid;
    grid-template-columns: 160px 160px;
    gap: 1rem;
    width: fit-content;
    margin: auto;
}


.deck-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 230px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: inherit;
    background-color: white;
    text-decoration: none;
}

.deck-tile__name {
    font-size: 1.1rem;
}

.deck-tile__card-count {
    font-size: .9rem;
}