{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'flashcards/base.css' %}">
    {% block stylesheets %}
    {% endblock %}
    <script
    src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
    integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
    crossorigin="anonymous"
    ></script>
    <title>{% block title %}Noe{% endblock %}</title>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <header class="site-header">
        <nav class="site-nav">
            <a class="site-nav__brand" href="{% url 'home' %}">Noe</a>

            <div class="site-nav__links">
                {% if user.is_authenticated %}
                    <a href="{% url 'deck-list' %}">Decks</a>
                    <a href="{% url 'profile' %}">Profile</a>
                {% else %}
                    <a href="{% url 'login' %}">Log in</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    {% block scripts %}
    {% endblock %}
</body>
</html>