{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'flashcards/deck_detail.css' %}">
{% endblock %}

{% block main %}
<h1 class="deck-title">{{ deck.name }}</h1>

<p class="deck-created-at">Created: {{ deck.created_at }}</p>

<div class="deck-actions">
    <a href="{% url 'card-create' deck.pk %}">Add Card</a>
    <a href="{% url 'deck-update' deck.pk %}">Edit Deck</a>
</div>

<ul class="card-list">
    {% for card in deck.cards.all %}
        <li class="card-tile">
            <p class="card-tile__content">{{ card.front }}</p>
            <div class="card-tile__actions">
                <a href="{% url 'card-update' card.pk %}">Edit</a>
                <a href="{% url 'card-delete' card.pk %}">Delete</a>
            </div>
        </li>
    {% empty %}
        <li class="card-tile card-tile--create">
            <a href="{% url 'card-create' deck.pk %}" class="card-tile__create-link">
                <span class="card-tile__plus">+</span>
                <span class="card-tile__create-text">Add first card</span>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}