{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'flashcards/deck_study.css' %}">
{% endblock %}

{% block main %}
<h1 class="deck-title">Study {{ deck.name }}</h1>

{% if card %}
    <article class="card-tile" data-card-tile>
        <p class="card-tile__content" data-card-tile-content>{{ card.front }}</p>
    </article>

    <div class="card-comparison" data-card-comparison hidden></div>

    <form class="card-guess" data-card-guess>
        <label class="card-guess__label" for="card-guess-input">
            Your answer
        </label>

        <textarea
            class="card-guess__input"
            id="card-guess-input"
            rows="4"
            data-card-guess-input
        ></textarea>

        <button
            class="card-guess__check-button"
            type="button"
            data-card-guess-check
        >
            Check
        </button>
    </form>
    <p hidden data-card-correct-answer>{{ card.back }}</p>
{% else %}
    <p>This deck has no cards yet.</p>
    <a href="{% url 'card-create' deck.pk %}">Add first card</a>
{% endif %}
    <div class="deck-study__actions">
        <a class="deck-back-link" href="{% url 'deck-detail' deck.pk %}">Back to deck</a>
        <a href="{% url 'deck-study' deck.pk %}">Next card</a>
    </div>
{% endblock %}


{% block scripts %}
<script src="{% static 'flashcards/deck_study.js' %}"></script>
{% endblock %}