{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'flashcards/decks.css' %}">
{% endblock %}

{% block main %}
<h1 class="deck-list-title">My Decks</h1>

<div class="deck-grid">
    {% for deck in decks %}
        <a 
        class="deck-tile" 
        href="{% url 'deck-detail' deck.pk %}"
        >
        <span class="deck-tile__name">{{ deck.name }}</span>
        <span class="deck-tile__card-count">{{ deck.cards.count }} cards</span>
        </a>
    {% endfor %}
        <a 
            class="deck-tile deck-tile--create" 
            href="{% url 'deck-create' %}"
        >
            <span class="deck-tile__plus">+</span>
            <span class="deck-tile__create-text">New Deck</span>
        </a>
</div>
{% endblock %}